<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>MBBACouponApp</string>
	<key>CFBundleIdentifier</key>
	<string>me.omar.davidson.MBBACouponApp</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Info.plist</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Regular.ttf</string>
	</array>
</dict>
</plist>
